.svg {
    @apply fill-gray stroke-primary;

    &.right {
        @apply rotate-180;
    }
}

.textDate,
.boxCalendar {
    @apply font-sans text-sm font-bold text-primary;
}

.path1 {
    stroke: red;
    fill: gray; /* Set the stroke color for the first path */
    stroke-width: 2.6667;
}

.path2 {
    stroke: green;
    font: grey; /* Set the stroke color for the second path */
    stroke-width: 2.6667;
}
